<?xml version="1.0" encoding="utf-8"?>
<config version="1.0" parent="null">
	<dir name="欧三" parent="config">
		<dir name="欧三1" parent="欧三"></dir>
		<dir name="欧三2" parent="欧三"></dir>
		<dir name="欧三3" parent="欧三"></dir>
	</dir>
	<dir name="欧四" parent="config">
		<dir name="欧四1" parent="欧四">
			<dir name="欧四a" parent="欧四1">
				<dir name="欧四#" parent="欧四a"></dir>
			</dir>
			<dir name="欧四b" parent="欧四1"></dir>
			<dir name="欧四c" parent="欧四1"></dir>
		</dir>
		<dir name="欧四2" parent="欧四"></dir>
		<dir name="欧四3" parent="欧四"></dir>
		
	</dir>
	<dir name="成都威特" parent="config">
		<dir name="成都威特1" parent="成都威特"></dir>
		<dir name="成都威特2" parent="成都威特"></dir>
	</dir>
</config>